<x-button._base {{ attributes.merge({
  "class": "
    -:bg-blue-600 -:text-white -:border-blue-900
    hover:-:bg-blue-700 hover:-:border-blue-950
    active:-:bg-blue-800
  "
}) }}>
  {{ slot }}
</x-button._base>
