<x-button._base {{ attributes.merge({
  "class": "
    -:bg-fuchsia-600 -:text-white -:border-fuchsia-900
    hover:-:bg-fuchsia-700 hover:-:border-fuchsia-950
    active:-:bg-fuchsia-800
  "
}) }}>
  {{ slot }}
</x-button._base>
