<x-buttons._base {{ attributes.merge({
  "class": "
    -:bg-fuchsia-50 -:text-fuchsia-950 -:border-fuchsia-200
    hover:-:bg-fuchsia-100 hover:-:border-fuchsia-300
    active:-:bg-fuchsia-200 active:-:text-black
  "
}) }}>
  {{ slot }}
</x-buttons._base>
