<x-layout::simple title="Home">
  <div class="flex gap-2">
    <x-buttons.primary type=submit>
      This is a button
    </x-buttons.primary>

    <x-buttons.primary-light type=submit>
      This is a light button
    </x-buttons.primary-light>
  </div>
</x-layout::simple>
